body {
    margin: 0;
    color: #3b3b3b;
    font-size: 13px;
    background: #f7f7f7;
}

img, table {
    border: none;
}

a {
    cursor: pointer;
}

h1 {
    font-size: 19px;
    color: #c04847;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 15px;
}

.blue, a {
    color: #1b6d93;
}

a {
    text-decoration:underline;
}

a:hover {
    text-decoration:none;
}

.error {
    color: red;
}

.clear {
    clear:both;
    font-size:0;
    overflow:hidden;
}

#loginForm {
    margin: 50px auto;
    background: #d4e5e7;
    padding: 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
}

#container {
    margin: 0 auto;
    width: 1001px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #ccc;
}

#header {
    height:50px;
    text-align: right;
    background: #EEF3F4;
}

#menu {
    height: 27px;
    color: #FFF;
    padding: 4px 20px 0px 20px;
    background: url(../images/bg_topMenu.jpg) repeat-x;
    border-top: 1px solid #CCC;
}

#menu a {
    font-size: 14px;
    text-decoration: none;
    font-weight:bold;
    color: #274085;
}

#menu a:hover {
    text-decoration: underline;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    float:left;
    padding: 0px 5px;
}

#page {
    min-height: 500px;
}

#content {
    padding: 25px 30px 30px 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/*------Search---------*/

#search {
    position: relative;
}

#search a {
    cursor: pointer;
}

#additionalSearch {
    position: absolute;
    display: none;
    top: 25px;
    background: #fff;
    border: 1px solid #777;
    padding: 7px;
}

/*------Users---------*/

.userList {
    float:left;
}

.userList table {
    border: 1px solid #ccc;
}

.userList table tr td {
    padding: 2px 4px;
}

.yes {
    font-weight:bold;
}

.no {
    font-weight: 200;
    color: #777;
}

.addUser {
    float:left;;
    margin-left: 50px;
}

.addUser form {
    padding: 2px 0px 10px 10px;
    border: 1px solid #ccc;
}

/*------Footer---------*/

#footer {
    height:30px;
    margin-bottom: 15px;
    background: #d4e5e7;
    color: #FFF;
}

#footer a {
    color: #FFF;
}

#loader {
    position: absolute;
    display:none;
    margin-top: 40%;
    margin-left: 40%;
}

#formAddQuestion {
    display: none;
    width: 600px;
}

#editQuestionBtn {

}

#topicMenu a {
    color: #274085;
    font-size: 14px;
    text-decoration:none;
}

#topicMenu a:hover {
    text-decoration: underline;
}

#addTestDiv {
    display: none;
}

//------------Test-----------

#questionsContent {
    display: none;
    visibility: hidden;
}

#questionNumberList, #questionList {
    display: block;
    margin-right: 10px;
    float: left;
}

#questionList {
    list-style: none;
    margin: 0;
    padding: 0;
}

#questionList li {
    list-style: none;
}

div.question {
    padding: 10px 10px 10px;
    margin-bottom: 20px;
    width: 500px;
    min-height: 100px;
    border: 1px solid #ccc;
}

#questionNumberList {
    list-style: none;
}

#questionNumberList li {
    margin-bottom: 5px;
}

#questionNumberList a {
    color: blue;
    text-decoration: none;
}

#questionNumberList a:hover {
    text-decoration: underline;
}

#questionList li ul {
    list-style:decimal;
}

div.answers {
    margin-bottom: 10px;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
}

.questionsList {
    display: none;
}

#checkTest {
    margin-left: 100px;
}

#userMenu {
    margin-bottom: 15px;
}

#addClass {
    display: none;
}

#addAdminForm, #addTeacherForm {
    display: none;
}

#userTestAnswersList {
    margin-left: 10px;
    padding:10px;
    border:1px solid #ccc;
    float: left;
}

#userTestAnswersList .questionText {
    border: 1px solid #ccc;
    padding:10px;
}

#userTestAnswersList .questionAnnotation {
    margin-top: 5px;
}

#userTestAnswersList .questionResAnswer {
    margin-top: 5px;
}

#userTestAnswersList .questionResAnswer ul {
    list-style: decimal;
}

textarea.tinymce {
    width: 500px;
}

#timeLeft {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

#estateCategory, #estateType, #district {
    list-style: none;
    margin: 0;
    padding: 0;
}

#leftContainer {
    margin-left: 30px;
    float: left;
}

#addEstate, #deleteEstate {
    position: relative;
}

#addEstateForm, #deleteEstateForm {
    position: absolute;
    display: none;
    top: 3px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    background: #FDFDFD;
}

#estateListTable {
    border: 1px solid #ccc;
}

#estateListTable td {
    padding: 3px;
}

#estatePages {
    text-align: center;
}

#complaintListTable {
    border: 1px solid #ccc;
}

#complaintListTable td {
    padding: 3px;
}

#loader {
    position: absolute;
    display:none;
    margin-top: 40%;
    margin-left: 40%;
}

.noimage {
    background-color: #BBF;
}